<!DOCTYPE html>
<html>
<head>
	<title>Site Title - Articles</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<header>
		<div class="horizontally-aligned header-content">
			<h1 class="width-70">
				<a href="">Site Title</a>
			</h1>
			<div class="width-15">
				<a href="" class="header-link">Sign Up</a>
			</div>
			<div class="width-15">
				<a href="" class="header-link">Log In</a>
			</div>
		</div>
	</header>
	<main class="horizontally-aligned">
		<h2>Articles</h2>
		<div>Our blog has 7 articles and counting!</div>
		<ul>
			<li class="blog-post">
				<a href="">
					<img src="1.jpg" loading="lazy">
				</a>
				<div class="blog-post-description">
					<a href="">
						<div>British Shorthair</div>
					</a>
					<div>The British Shorthair is the pedigreed version of the traditional British domestic cat, with a distinctively stocky body, dense coat, and broad face. The most familiar colour variant is the "British Blue", with a solid grey-blue coat, orange eyes, and a medium-sized tail.</div>
				</div>
			</li>
			<li class="blog-post">
				<a href="">
					<img src="2.jpg" loading="lazy">
				</a>
				<div class="blog-post-description">
					<a href="">
						<div>Cheshire Cat</div>
					</a>
					<div>The Cheshire Cat is a fictional cat popularised by Lewis Carroll in Alice's Adventures in Wonderland and known for its distinctive mischievous grin. While now most often used in Alice-related contexts, the association of a "Cheshire cat" with grinning predates the 1865 book.</div>
				</div>
			</li>
			<li class="blog-post">
				<a href="">
					<img src="3.jpg" loading="lazy">
				</a>
				<div class="blog-post-description">
					<a href="">
						<div>Scottish Fold</div>
					</a>
					<div>The Scottish Fold is a breed of domestic cat with a natural dominant gene mutation that affects cartilage throughout the body, causing the ears to "fold", bending forward and down towards the front of the head, which gives the cat what is often described as an "owl-like" appearance.</div>
				</div>
			</li>
			<li class="blog-post">
				<a href="">
					<img src="4.jpg" loading="lazy">
				</a>
				<div class="blog-post-description">
					<a href="">
						<div>Scottish Straight</div>
					</a>
					<div>The Scottish Straight is one of the feline breeds that make up the Scottish Breed Group, along with the beloved Scottish Fold. More specifically, according to The International Cat Association (TICA), the Scottish Breed Group consists of the longhair Scottish Fold and the shorthair Scottish Fold, as well as the longhair Scottish Straight and the shorthair Scottish Straight, for a total of four breeds.</div>
				</div>
			</li>
			<li class="blog-post">
				<a href="">
					<img src="5.jpg" loading="lazy">
				</a>
				<div class="blog-post-description">
					<a href="">
						<div>Persian Cat</div>
					</a>
					<div>The Persian cat is a long-haired breed of cat characterized by its round face and short muzzle. It is also known as the "Persian Longhair" in English-speaking countries. The first documented ancestors of Persian cats were imported into Italy from Persia around 1620.</div>
				</div>
			</li>
			<li class="blog-post">
				<a href="">
					<img src="6.jpg" loading="lazy">
				</a>
				<div class="blog-post-description">
					<a href="">
						<div>Exotic Shorthair</div>
					</a>
					<div>The Exotic Shorthair is a breed of cat developed as a short-haired version of the Persian. The Exotic is similar to the Persian in many ways, including temperament and conformation, a flat nose and face with the exceptions of the short dense coat.</div>
				</div>
			</li>
			<li class="blog-post">
				<a href="">
					<img src="7.jpg" loading="lazy">
				</a>
				<div class="blog-post-description">
					<a href="">
						<div>American Shorthair</div>
					</a>
					<div>The American Shorthair is a breed of domestic cat believed to be descended from European cats brought to North America by early settlers to protect valuable cargo from mice and rats. According to the Cat Fanciers' Association, in 2020, it was the eighth most popular pedigreed cat in the world.</div>
				</div>
			</li>
		</ul>
		<div class="bottom-buttons">
			<a href="" class="custom-button">New Article</a>
			<a href="" class="custom-button">All Users</a>
		</div>
	</main>
	<footer>
		<div class="horizontally-aligned footer-content">© 2022 Some Company. All rights reserved.</div>
	</footer>
</body>
</html>
